<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="full_robot_arm_urdf">

  <link name="world"/>

  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.0080258 -0.36429 0.2005"
        rpy="0 0 0" />
      <mass
        value="1.2708" />
      <inertia
        ixx="0.0025838"
        ixy="2.121E-07"
        ixz="-1.0603E-05"
        iyy="0.0025876"
        iyz="2.1917E-05"
        izz="0.004324" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://full_robot_arm_urdf/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://full_robot_arm_urdf/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>

  <joint name="base_joint" type="fixed">
  	<parent link="world"/>
  	<child link="base_link"/>
  	<origin rpy="0 0 0" xyz="0.0 0.0 0.25"/>
  </joint>

  <link
    name="link_1">
    <inertial>
      <origin
        xyz="0.0348888344158069 0.00457926103277856 0.0467069176822366"
        rpy="0 0 0" />
      <mass
        value="0.641883793389845" />
      <inertia
        ixx="0.000465541442133947"
        ixy="-2.03341730685333E-05"
        ixz="2.9258140936209E-05"
        iyy="0.000626367305089645"
        iyz="3.98087884936894E-06"
        izz="0.000617296717750675" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://full_robot_arm_urdf/meshes/link_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://full_robot_arm_urdf/meshes/link_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_1"
    type="revolute">
    <origin
      xyz="-0.0076079 -0.36376 0.24337"
      rpy="-0.011751 -0.0074781 -0.12937" />
    <parent
      link="base_link" />
    <child
      link="link_1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.142"
      upper="3.142"
      effort="28.35"
      velocity="5.24" />
  </joint>
  <link
    name="link_2">
    <inertial>
      <origin
        xyz="0.00118095219362666 0.00619627354257712 0.173905309741476"
        rpy="0 0 0" />
      <mass
        value="0.394669414176607" />
      <inertia
        ixx="0.00201544139319516"
        ixy="5.89754991792588E-06"
        ixz="-4.81654945270508E-07"
        iyy="0.00197252279377291"
        iyz="-1.04891926409169E-07"
        izz="0.000146840453370069" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://full_robot_arm_urdf/meshes/link_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://full_robot_arm_urdf/meshes/link_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_2"
    type="revolute">
    <origin
      xyz="0.00010358 1.3092E-05 0.0737"
      rpy="0 0 0" />
    <parent
      link="link_1" />
    <child
      link="link_2" />
    <axis
      xyz="-0.12539 0.99211 0" />
    <limit
      lower="-1.57"
      upper="1.57"
      effort="28.35"
      velocity="5.24" />
  </joint>
  <link
    name="link_3">
    <inertial>
      <origin
        xyz="0.0416315787260326 0.376313102877988 0.154394705364721"
        rpy="0 0 0" />
      <mass
        value="0.259256414101999" />
      <inertia
        ixx="0.000364382234728871"
        ixy="-5.28598278183143E-08"
        ixz="0.000510592045899621"
        iyy="0.00125344326027413"
        iyz="-3.79257216724778E-08"
        izz="0.000953990371305366" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://full_robot_arm_urdf/meshes/link_3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://full_robot_arm_urdf/meshes/link_3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_3"
    type="revolute">
    <origin
      xyz="-0.12097 0.36782 0.56079"
      rpy="-3.1416 0.5236 0.12572" />
    <parent
      link="link_2" />
    <child
      link="link_3" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-3.14"
      upper="1"
      effort="7.85"
      velocity="6.54" />
  </joint>
  <link
    name="link_4">
    <inertial>
      <origin
        xyz="-0.0204129142907669 -0.144354907336745 -0.320850012945894"
        rpy="0 0 0" />
      <mass
        value="0.18731544179836" />
      <inertia
        ixx="0.000131980411298048"
        ixy="-6.07169213072888E-07"
        ixz="-5.12707650335311E-07"
        iyy="0.000133185466047556"
        iyz="-2.31799931778831E-07"
        izz="0.000105353839225139" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://full_robot_arm_urdf/meshes/link_4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://full_robot_arm_urdf/meshes/link_4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_4"
    type="revolute">
    <origin
      xyz="-0.30367 0.058389 0.17532"
      rpy="-1.5708 -0.9167 -3.1416" />
    <parent
      link="link_3" />
    <child
      link="link_4" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.14"
      upper="0"
      effort="2.45"
      velocity="8.08" />
  </joint>
  <link
    name="link_5">
    <inertial>
      <origin
        xyz="0.00087436898033233 0.00141942148224983 0.0362558142853241"
        rpy="0 0 0" />
      <mass
        value="0.183111545605538" />
      <inertia
        ixx="7.20335918182734E-05"
        ixy="-2.39226954575997E-06"
        ixz="-2.70666657284442E-07"
        iyy="9.26380584850187E-05"
        iyz="-3.10116685734332E-08"
        izz="0.000144655225481241" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://full_robot_arm_urdf/meshes/link_5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://full_robot_arm_urdf/meshes/link_5.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_5"
    type="revolute">
    <origin
      xyz="-0.038685 -0.099608 -0.31741"
      rpy="1.5708 0.12572 -2.7485" />
    <parent
      link="link_4" />
    <child
      link="link_5" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="2.45"
      velocity="8.08" />
  </joint>
  <link
    name="ee_thumb_prox">
    <inertial>
      <origin
        xyz="0.341508039920412 -0.0338829332168233 -0.166809798370482"
        rpy="0 0 0" />
      <mass
        value="0.0140616075473925" />
      <inertia
        ixx="2.66037500215366E-06"
        ixy="-6.03397645737864E-08"
        ixz="4.93475704659964E-09"
        iyy="6.73758595593861E-07"
        iyz="1.18893894263769E-07"
        izz="2.31904772446765E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://full_robot_arm_urdf/meshes/ee_thumb_prox.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://full_robot_arm_urdf/meshes/ee_thumb_prox.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="ee_thumb_prox_joint"
    type="revolute">
    <origin
      xyz="-0.071682 0.33692 0.23481"
      rpy="0.7854 0 -1.4639" />
    <parent
      link="link_5" />
    <child
      link="ee_thumb_prox" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="-1.57"
      upper="0"
      effort="2.45"
      velocity="8.08" />
  </joint>
  <link
    name="ee_thumb_dist">
    <inertial>
      <origin
        xyz="0.341010212120928 -0.033259587901486 -0.166746509283575"
        rpy="0 0 0" />
      <mass
        value="0.0116864486254284" />
      <inertia
        ixx="1.11556815353773E-06"
        ixy="5.50298205627067E-09"
        ixz="-1.62153745147201E-09"
        iyy="7.15404339831182E-07"
        iyz="1.82802097712745E-09"
        izz="8.90344174674305E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://full_robot_arm_urdf/meshes/ee_thumb_dist.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.298039215686275 0.298039215686275 0.298039215686275 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://full_robot_arm_urdf/meshes/ee_thumb_dist.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="ee_thumb_dist_joint"
    type="revolute">
    <origin
      xyz="0 0.05 0"
      rpy="0 0 0" />
    <parent
      link="ee_thumb_prox" />
    <child
      link="ee_thumb_dist" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="-1.57"
      upper="0"
      effort="2.45"
      velocity="8.08" />
  </joint>
  <link
    name="ee_finger1_roll">
    <inertial>
      <origin
        xyz="-0.295697762920187 -0.170165508768379 -0.192922496760102"
        rpy="0 0 0" />
      <mass
        value="0.0130633836142706" />
      <inertia
        ixx="1.7375626335888E-06"
        ixy="8.30110268963573E-08"
        ixz="-1.6365361287255E-07"
        iyy="1.88852300273132E-06"
        iyz="2.03200691028151E-07"
        izz="1.24455936553977E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://full_robot_arm_urdf/meshes/ee_finger1_roll.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://full_robot_arm_urdf/meshes/ee_finger1_roll.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="ee_finger1_roll_joint"
    type="revolute">
    <origin
      xyz="-0.138295266521999 0.301612506052774 0.236814827435665"
      rpy="1.57079632679489 0 2.48182228526102" />
    <parent
      link="link_5" />
    <child
      link="ee_finger1_roll" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="2.45"
      velocity="8.08" />
  </joint>
  <link
    name="ee_finger1_prox">
    <inertial>
      <origin
        xyz="-0.0102315797866669 0.0100635175442049 0.0127330248670725"
        rpy="0 0 0" />
      <mass
        value="0.0145193149160161" />
      <inertia
        ixx="2.04972506692646E-06"
        ixy="6.35126748062668E-07"
        ixz="5.67345621198379E-07"
        iyy="2.0043247083895E-06"
        iyz="-5.98929957280732E-07"
        izz="1.62898222358509E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://full_robot_arm_urdf/meshes/ee_finger1_prox.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://full_robot_arm_urdf/meshes/ee_finger1_prox.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="ee_finger1_prox_joint"
    type="revolute">
    <origin
      xyz="-0.29452 -0.15439 -0.18998"
      rpy="-1.5708 -0.80415 0" />
    <parent
      link="ee_finger1_roll" />
    <child
      link="ee_finger1_prox" />
    <axis
      xyz="-0.69373 -0.72024 0" />
    <limit
      lower="-1.57"
      upper="0"
      effort="2.45"
      velocity="8.08" />
  </joint>
  <link
    name="ee_finger1_dist">
    <inertial>
      <origin
        xyz="-0.294829856468 0.0420054126319283 -0.244906688710793"
        rpy="0 0 0" />
      <mass
        value="0.0134397344943939" />
      <inertia
        ixx="1.12309108875794E-06"
        ixy="5.61176592103346E-09"
        ixz="-1.561458090924E-09"
        iyy="7.72202003608243E-07"
        iyz="1.63638683432747E-09"
        izz="9.46047368268389E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://full_robot_arm_urdf/meshes/ee_finger1_dist.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://full_robot_arm_urdf/meshes/ee_finger1_dist.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="ee_finger1_dist_joint"
    type="revolute">
    <origin
      xyz="0.31567 0.10487 0.18973"
      rpy="0.79011 0 0.80415" />
    <parent
      link="ee_finger1_prox" />
    <child
      link="ee_finger1_dist" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="-1.57"
      upper="0"
      effort="2.45"
      velocity="8.08" />
  </joint>
  <link
    name="ee_finger2_roll">
    <inertial>
      <origin
        xyz="0.180517721270968 -0.170165512558495 -0.296752669941841"
        rpy="0 0 0" />
      <mass
        value="0.0130633776120231" />
      <inertia
        ixx="1.73756810958748E-06"
        ixy="8.3013263698073E-08"
        ixz="1.63661436386322E-07"
        iyy="1.88852919686045E-06"
        iyz="-2.03193387724568E-07"
        izz="1.24455713040636E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://full_robot_arm_urdf/meshes/ee_finger2_roll.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://full_robot_arm_urdf/meshes/ee_finger2_roll.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="ee_finger2_roll_joint"
    type="revolute">
    <origin
      xyz="-0.144269152723533 0.357292957592351 0.236814827435665"
      rpy="1.57079632679489 0 -2.25843474559242" />
    <parent
      link="link_5" />
    <child
      link="ee_finger2_roll" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="2.45"
      velocity="8.08" />
  </joint>
  <link
    name="ee_finger2_prox">
    <inertial>
      <origin
        xyz="0.010036883182709 0.0100659767958691 0.0128854250089289"
        rpy="0 0 0" />
      <mass
        value="0.0145193439812253" />
      <inertia
        ixx="2.07049415585928E-06"
        ixy="-6.25766067565022E-07"
        ixz="-5.62879422832133E-07"
        iyy="2.00112992730742E-06"
        iyz="-6.06361394918669E-07"
        izz="1.61138639012315E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://full_robot_arm_urdf/meshes/ee_finger2_prox.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://full_robot_arm_urdf/meshes/ee_finger2_prox.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="ee_finger2_prox_joint"
    type="revolute">
    <origin
      xyz="0.181766434679577 -0.154389827435665 -0.299697692055236"
      rpy="1.5707963267949 -0.794518329068275 -3.14159265358979" />
    <parent
      link="ee_finger2_roll" />
    <child
      link="ee_finger2_prox" />
    <axis
      xyz="0.700628532140014 -0.713526215321714 0" />
    <limit
      lower="0"
      upper="1.57"
      effort="2.45"
      velocity="8.08" />
  </joint>
  <link
    name="ee_finger2_dist">
    <inertial>
      <origin
        xyz="0.18138564138274 -0.300716171340354 -0.108633394716891"
        rpy="0 0 0" />
      <mass
        value="0.0134400132983415" />
      <inertia
        ixx="1.12309302451563E-06"
        ixy="5.61156185015051E-09"
        ixz="1.56167022240927E-09"
        iyy="7.72206315443839E-07"
        iyz="-1.63258394354102E-09"
        izz="9.46058859892066E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://full_robot_arm_urdf/meshes/ee_finger2_dist.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://full_robot_arm_urdf/meshes/ee_finger2_dist.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="ee_finger2_dist_joint"
    type="revolute">
    <origin
      xyz="0.366112078928804 0.104847608094271 0.1901047116454"
      rpy="2.33377636483635 0 2.34707432452152" />
    <parent
      link="ee_finger2_prox" />
    <child
      link="ee_finger2_dist" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="0"
      upper="1.57"
      effort="2.45"
      velocity="8.08" />
  </joint>

  <transmission name="link_1_trans">
  	<type>transmission_interface/SimpleTransmission</type>
  	<joint name="joint_1">
  		<hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
  	</joint>
  	<actuator name="link_1_motor">
  		<hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
  		<mechanicalReduction>1</mechanicalReduction>
  	</actuator>
  </transmission>
  
  <transmission name="link_2_trans">
  	<type>transmission_interface/SimpleTransmission</type>
  	<joint name="joint_2">
  		<hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
  	</joint>
  	<actuator name="link_2_motor">
  		<hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
  		<mechanicalReduction>1</mechanicalReduction>
  	</actuator>
  </transmission>
  
  <transmission name="link_3_trans">
  	<type>transmission_interface/SimpleTransmission</type>
  	<joint name="joint_3">
  		<hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
  	</joint>
  	<actuator name="link_3_motor">
  		<hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
  		<mechanicalReduction>1</mechanicalReduction>
  	</actuator>
  </transmission>
  
  <transmission name="link_4_trans">
  	<type>transmission_interface/SimpleTransmission</type>
  	<joint name="joint_4">
  		<hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
  	</joint>
  	<actuator name="link_4_motor">
  		<hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
  		<mechanicalReduction>1</mechanicalReduction>
  	</actuator>
  </transmission>
  
  <transmission name="link_5_trans">
  	<type>transmission_interface/SimpleTransmission</type>
  	<joint name="joint_5">
  		<hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
  	</joint>
  	<actuator name="link_5_motor">
  		<hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
  		<mechanicalReduction>1</mechanicalReduction>
  	</actuator>
  </transmission>
  
  <transmission name="ee_thumb_prox_trans">
  	<type>transmission_interface/SimpleTransmission</type>
  	<joint name="ee_thumb_prox_joint">
  		<hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
  	</joint>
  	<actuator name="ee_thumb_prox_joint_motor">
  		<hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
  		<mechanicalReduction>1</mechanicalReduction>
  	</actuator>
  </transmission>
  
  <transmission name="ee_thumb_dist_trans">
  	<type>transmission_interface/SimpleTransmission</type>
  	<joint name="ee_thumb_dist_joint">
  		<hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
  	</joint>
  	<actuator name="ee_thumb_dist_joint_motor">
  		<hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
  		<mechanicalReduction>1</mechanicalReduction>
  	</actuator>
  </transmission>
  
  <transmission name="ee_finger1_roll_trans">
  	<type>transmission_interface/SimpleTransmission</type>
  	<joint name="ee_finger1_roll_joint">
  		<hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
  	</joint>
  	<actuator name="ee_finger1_roll_joint_motor">
  		<hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
  		<mechanicalReduction>1</mechanicalReduction>
  	</actuator>
  </transmission>
  
  <transmission name="ee_finger1_prox_trans">
  	<type>transmission_interface/SimpleTransmission</type>
  	<joint name="ee_finger1_prox_joint">
  		<hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
  	</joint>
  	<actuator name="ee_finger1_prox_joint_motor">
  		<hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
  		<mechanicalReduction>1</mechanicalReduction>
  	</actuator>
  </transmission>
  
  <transmission name="ee_finger1_dist_trans">
  	<type>transmission_interface/SimpleTransmission</type>
  	<joint name="ee_finger1_dist_joint">
  		<hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
  	</joint>
  	<actuator name="ee_finger1_dist_joint_motor">
  		<hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
  		<mechanicalReduction>1</mechanicalReduction>
  	</actuator>
  </transmission>
  
  <transmission name="ee_finger2_roll_trans">
  	<type>transmission_interface/SimpleTransmission</type>
  	<joint name="ee_finger2_roll_joint">
  		<hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
  	</joint>
  	<actuator name="ee_finger2_roll_joint_motor">
  		<hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
  		<mechanicalReduction>1</mechanicalReduction>
  	</actuator>
  </transmission>
  
  <transmission name="ee_finger2_prox_trans">
  	<type>transmission_interface/SimpleTransmission</type>
  	<joint name="ee_finger2_prox_joint">
  		<hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
  	</joint>
  	<actuator name="ee_finger2_prox_joint_motor">
  		<hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
  		<mechanicalReduction>1</mechanicalReduction>
  	</actuator>
  </transmission>
  
  <transmission name="ee_finger2_dist_trans">
  	<type>transmission_interface/SimpleTransmission</type>
  	<joint name="ee_finger2_dist_joint">
  		<hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
  	</joint>
  	<actuator name="ee_finger2_dist_joint_motor">
  		<hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
  		<mechanicalReduction>1</mechanicalReduction>
  	</actuator>
  </transmission>
  
  <gazebo>
  	<plugin name="control" filename="libgazebo_ros_control.so">
  		<robotNamespace>/</robotNamespace>
  	</plugin>
  </gazebo>
  
  <gazebo reference="link_1">
  	<selfCollide>true</selfCollide>
  </gazebo>
  
  <gazebo reference="link_2">
  	<selfCollide>true</selfCollide>
  </gazebo>
  
  <gazebo reference="link_3">
  	<selfCollide>true</selfCollide>
  </gazebo>
  
  <gazebo reference="link_4">
  	<selfCollide>true</selfCollide>
  </gazebo>
  
  <gazebo reference="link_5">
  	<selfCollide>true</selfCollide>
  </gazebo>
  
  <gazebo reference="ee_thumb_prox">
  	<selfCollide>true</selfCollide>
  </gazebo>
  
  <gazebo reference="ee_thumb_dist">
  	<selfCollide>true</selfCollide>
  </gazebo>
  
  <gazebo reference="ee_finger1_roll">
  	<selfCollide>true</selfCollide>
  </gazebo>
  
  <gazebo reference="ee_finger1_prox">
  	<selfCollide>true</selfCollide>
  </gazebo>
  
  <gazebo reference="ee_finger1_dist">
  	<selfCollide>true</selfCollide>
  </gazebo>
  
  <gazebo reference="ee_finger2_roll">
  	<selfCollide>true</selfCollide>
  </gazebo>
  
  <gazebo reference="ee_finger2_prox">
  	<selfCollide>true</selfCollide>
  </gazebo>
  
  <gazebo reference="ee_finger2_dist">
  	<selfCollide>true</selfCollide>
  </gazebo>

</robot>