<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="full_robot_arm_urdf">

  <link name="world"/>

  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.081546 -0.019505 0.35012"
        rpy="0 0 0" />
      <mass
        value="1.2708" />
      <inertia
        ixx="0.0025838"
        ixy="2.121E-07"
        ixz="-1.0603E-05"
        iyy="0.0025876"
        iyz="2.1917E-05"
        izz="0.004324" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://full_robot_arm_urdf/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://full_robot_arm_urdf/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>

  <joint name="base_joint" type="fixed">
  	<parent link="world"/>
  	<child link="base_link"/>
  	<origin rpy="0 0 0" xyz="0.0 0.0 0.25"/>
  </joint>

  <link
    name="link_1">
    <inertial>
      <origin
        xyz="0.024975475098979 0.040356917682264 -0.0247876187255334"
        rpy="0 0 0" />
      <mass
        value="0.641883793391617" />
      <inertia
        ixx="0.000544222299277158"
        ixy="2.0859442161424E-05"
        ixz="8.29259794140156E-05"
        iyy="0.000617296717752839"
        iyz="-2.08990401743458E-05"
        izz="0.000547686447949987" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://full_robot_arm_urdf/meshes/link_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://full_robot_arm_urdf/meshes/link_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_1"
    type="revolute">
    <origin
      xyz="-0.081165 -0.018898 0.39934"
      rpy="1.566 -0.01307 -0.7805" />
    <parent
      link="base_link" />
    <child
      link="link_1" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-3.142"
      upper="3.142"
      effort="28.35"
      velocity="5.24" />
  </joint>
  <link
    name="link_2">
    <inertial>
      <origin
        xyz="0.173905309750886 0.0234514089566596 -0.0487467871957404"
        rpy="0 0 0" />
      <mass
        value="0.394669414155339" />
      <inertia
        ixx="0.000146840453333142"
        ixy="4.91005959364874E-07"
        ixz="4.36686419116318E-08"
        iyy="0.00201623391473955"
        iyz="3.72945465614851E-07"
        izz="0.00197173027219177" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://full_robot_arm_urdf/meshes/link_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://full_robot_arm_urdf/meshes/link_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_2"
    type="revolute">
    <origin
      xyz="0.048155 0.06735 0.012605"
      rpy="0.77684 0 1.5708" />
    <parent
      link="link_1" />
    <child
      link="link_2" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-1.57"
      upper="1.57"
      effort="28.35"
      velocity="5.24" />
  </joint>
  <link
    name="link_3">
    <inertial>
      <origin
        xyz="-0.0995533142996844 0.0337158147000542 0.0576338244983799"
        rpy="0 0 0" />
      <mass
        value="0.259256414102" />
      <inertia
        ixx="0.00036438223472887"
        ixy="-5.28598278181856E-08"
        ixz="0.000510592045899619"
        iyy="0.00125344326027412"
        iyz="-3.79257216725439E-08"
        izz="0.000953990371305363" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://full_robot_arm_urdf/meshes/link_3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://full_robot_arm_urdf/meshes/link_3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_3"
    type="revolute">
    <origin
      xyz="0.4064 0.0254 -0.080236"
      rpy="1.5708 0 -2.0944" />
    <parent
      link="link_2" />
    <child
      link="link_3" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-1"
      upper="3.14"
      effort="7.85"
      velocity="6.54" />
  </joint>
  <link
    name="link_4">
    <inertial>
      <origin
        xyz="-0.0112989469711391 0.0265625513513894 0.0217472752320396"
        rpy="0 0 0" />
      <mass
        value="0.18731544179836" />
      <inertia
        ixx="0.000131980411298049"
        ixy="-6.07169213072762E-07"
        ixz="-5.12707650335233E-07"
        iyy="0.000133185466047556"
        iyz="-2.31799931778715E-07"
        izz="0.000105353839225139" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://full_robot_arm_urdf/meshes/link_4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://full_robot_arm_urdf/meshes/link_4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_4"
    type="revolute">
    <origin
      xyz="-0.30367 0.058389 0.17532"
      rpy="-1.5708 -0.9167 -3.1416" />
    <parent
      link="link_3" />
    <child
      link="link_4" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.14"
      upper="0"
      effort="2.45"
      velocity="8.08" />
  </joint>
  <link
    name="link_5">
    <inertial>
      <origin
        xyz="-0.0252176011902595 -0.0173535831688281 0.00272829378446882"
        rpy="0 0 0" />
      <mass
        value="0.183111513613456" />
      <inertia
        ixx="9.28775277577823E-05"
        ixy="1.10219397939446E-08"
        ixz="8.55215452601147E-07"
        iyy="0.000144655222094407"
        iyz="-2.72215199116409E-07"
        izz="7.17941172401823E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://full_robot_arm_urdf/meshes/link_5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://full_robot_arm_urdf/meshes/link_5.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_5"
    type="revolute">
    <origin
      xyz="-0.041507 0.086823 0.051524"
      rpy="0 -1.5187 -2.7485" />
    <parent
      link="link_4" />
    <child
      link="link_5" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="2.45"
      velocity="8.08" />
  </joint>
  <link
    name="ee_thumb_prox">
    <inertial>
      <origin
        xyz="0.000363742372263914 0.0184844636537663 -0.000837008711046527"
        rpy="0 0 0" />
      <mass
        value="0.0140616051661292" />
      <inertia
        ixx="2.66037470712265E-06"
        ixy="-6.03398002767405E-08"
        ixz="4.93481140059461E-09"
        iyy="6.73758375580501E-07"
        iyz="1.18893759058324E-07"
        izz="2.31904762073825E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://full_robot_arm_urdf/meshes/ee_thumb_prox.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://full_robot_arm_urdf/meshes/ee_thumb_prox.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="ee_thumb_prox_joint"
    type="revolute">
    <origin
      xyz="-0.023573 -0.061523 -0.041221"
      rpy="-0.7854 0.033272 3.1416" />
    <parent
      link="link_5" />
    <child
      link="ee_thumb_prox" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="0"
      upper="1.57"
      effort="2.45"
      velocity="8.08" />
  </joint>
  <link
    name="ee_thumb_dist">
    <inertial>
      <origin
        xyz="-0.000134086297196575 0.0191078089372129 -0.000773718270313251"
        rpy="0 0 0" />
      <mass
        value="0.0116864486254284" />
      <inertia
        ixx="1.11556815353773E-06"
        ixy="5.50298205627019E-09"
        ixz="-1.62153745147388E-09"
        iyy="7.15404339831189E-07"
        iyz="1.82802097712475E-09"
        izz="8.90344174674308E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://full_robot_arm_urdf/meshes/ee_thumb_dist.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.298039215686275 0.298039215686275 0.298039215686275 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://full_robot_arm_urdf/meshes/ee_thumb_dist.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="ee_thumb_dist_joint"
    type="revolute">
    <origin
      xyz="0 0.05 0"
      rpy="0 0 0" />
    <parent
      link="ee_thumb_prox" />
    <child
      link="ee_thumb_dist" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="0"
      upper="1.57"
      effort="2.45"
      velocity="8.08" />
  </joint>
  <link
    name="ee_finger1_roll">
    <inertial>
      <origin
        xyz="-0.00117932738924792 -0.0157756813327139 -0.00294508687044948"
        rpy="0 0 0" />
      <mass
        value="0.0130633836142709" />
      <inertia
        ixx="1.73756263358887E-06"
        ixy="8.30110268964099E-08"
        ixz="-1.63653612872653E-07"
        iyy="1.88852300273138E-06"
        iyz="2.03200691028178E-07"
        izz="1.2445593655398E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://full_robot_arm_urdf/meshes/ee_finger1_roll.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://full_robot_arm_urdf/meshes/ee_finger1_roll.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="ee_finger1_roll_joint"
    type="revolute">
    <origin
      xyz="-0.053886 -0.063523 0.027809"
      rpy="-3.1416 -0.83742 0" />
    <parent
      link="link_5" />
    <child
      link="ee_finger1_roll" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="2.45"
      velocity="8.08" />
  </joint>
  <link
    name="ee_finger1_prox">
    <inertial>
      <origin
        xyz="0.000150214335126131 0.0120835007686848 -0.00820947501635966"
        rpy="0 0 0" />
      <mass
        value="0.0145193149160156" />
      <inertia
        ixx="2.66085425402369E-06"
        ixy="-5.95997233668248E-08"
        ixz="6.12804242134929E-09"
        iyy="6.86867502492154E-07"
        iyz="1.17166812006879E-07"
        izz="2.33531024238519E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://full_robot_arm_urdf/meshes/ee_finger1_prox.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://full_robot_arm_urdf/meshes/ee_finger1_prox.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="ee_finger1_prox_joint"
    type="revolute">
    <origin
      xyz="0 0.01 0"
      rpy="-0.78584 0 0" />
    <parent
      link="ee_finger1_roll" />
    <child
      link="ee_finger1_prox" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="0"
      upper="1.57"
      effort="2.45"
      velocity="8.08" />
  </joint>
  <link
    name="ee_finger1_dist">
    <inertial>
      <origin
        xyz="-0.000311420937061713 0.0179884255189855 -0.00128645265883304"
        rpy="0 0 0" />
      <mass
        value="0.0134397344943946" />
      <inertia
        ixx="1.12309108875796E-06"
        ixy="5.61176592103563E-09"
        ixz="-1.56145809092742E-09"
        iyy="7.7220200360827E-07"
        iyz="1.63638683432135E-09"
        izz="9.46047368268402E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://full_robot_arm_urdf/meshes/ee_finger1_dist.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://full_robot_arm_urdf/meshes/ee_finger1_dist.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="ee_finger1_dist_joint"
    type="revolute">
    <origin
      xyz="0 0.042932 -0.0070742"
      rpy="0.005151 0 0" />
    <parent
      link="ee_finger1_prox" />
    <child
      link="ee_finger1_dist" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="0"
      upper="1.57"
      effort="2.45"
      velocity="8.08" />
  </joint>
  <link
    name="ee_finger2_roll">
    <inertial>
      <origin
        xyz="-0.00117933019860927 -0.0157756851228297 0.00294502211339459"
        rpy="0 0 0" />
      <mass
        value="0.0130633776120231" />
      <inertia
        ixx="1.73756810958756E-06"
        ixy="8.30132636981119E-08"
        ixz="1.63661436386373E-07"
        iyy="1.88852919686052E-06"
        iyz="-2.03193387724598E-07"
        izz="1.24455713040636E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://full_robot_arm_urdf/meshes/ee_finger2_roll.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://full_robot_arm_urdf/meshes/ee_finger2_roll.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="ee_finger2_roll_joint"
    type="revolute">
    <origin
      xyz="0.0020832 -0.063523 0.029672"
      rpy="0 -0.76125 3.1416" />
    <parent
      link="link_5" />
    <child
      link="ee_finger2_roll" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="2.45"
      velocity="8.08" />
  </joint>
  <link
    name="ee_finger2_prox">
    <inertial>
      <origin
        xyz="0.000219595097642078 0.0120086694874882 0.00813375036751068"
        rpy="0 0 0" />
      <mass
        value="0.014519343110467" />
      <inertia
        ixx="2.66084130342848E-06"
        ixy="-5.96028071712776E-08"
        ixz="-6.1282170294532E-09"
        iyy="6.86844222903658E-07"
        iyz="-1.17175713252952E-07"
        izz="2.3353246735099E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://full_robot_arm_urdf/meshes/ee_finger2_prox.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://full_robot_arm_urdf/meshes/ee_finger2_prox.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="ee_finger2_prox_joint"
    type="revolute">
    <origin
      xyz="0 0.01 0"
      rpy="0.77518 0 0" />
    <parent
      link="ee_finger2_roll" />
    <child
      link="ee_finger2_prox" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="0"
      upper="1.57"
      effort="2.45"
      velocity="8.08" />
  </joint>
  <link
    name="ee_finger2_dist">
    <inertial>
      <origin
        xyz="-0.00031141008683766 0.0179882826920661 0.00128655988074994"
        rpy="0 0 0" />
      <mass
        value="0.01344001329834" />
      <inertia
        ixx="1.12309302451561E-06"
        ixy="5.61156185015054E-09"
        ixz="1.56167022240959E-09"
        iyy="7.72206315443748E-07"
        iyz="-1.6325839435467E-09"
        izz="9.4605885989197E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://full_robot_arm_urdf/meshes/ee_finger2_dist.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://full_robot_arm_urdf/meshes/ee_finger2_dist.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="ee_finger2_dist_joint"
    type="revolute">
    <origin
      xyz="6.9383E-05 0.042857 0.0069984"
      rpy="-0.012196 0 0" />
    <parent
      link="ee_finger2_prox" />
    <child
      link="ee_finger2_dist" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="0"
      upper="1.57"
      effort="2.45"
      velocity="8.08" />
  </joint>

  <transmission name="link_1_trans">
  	<type>transmission_interface/SimpleTransmission</type>
  	<joint name="joint_1">
  		<hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
  	</joint>
  	<actuator name="link_1_motor">
  		<hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
  		<mechanicalReduction>1</mechanicalReduction>
  	</actuator>
  </transmission>
  
  <transmission name="link_2_trans">
  	<type>transmission_interface/SimpleTransmission</type>
  	<joint name="joint_2">
  		<hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
  	</joint>
  	<actuator name="link_2_motor">
  		<hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
  		<mechanicalReduction>1</mechanicalReduction>
  	</actuator>
  </transmission>
  
  <transmission name="link_3_trans">
  	<type>transmission_interface/SimpleTransmission</type>
  	<joint name="joint_3">
  		<hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
  	</joint>
  	<actuator name="link_3_motor">
  		<hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
  		<mechanicalReduction>1</mechanicalReduction>
  	</actuator>
  </transmission>
  
  <transmission name="link_4_trans">
  	<type>transmission_interface/SimpleTransmission</type>
  	<joint name="joint_4">
  		<hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
  	</joint>
  	<actuator name="link_4_motor">
  		<hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
  		<mechanicalReduction>1</mechanicalReduction>
  	</actuator>
  </transmission>
  
  <transmission name="link_5_trans">
  	<type>transmission_interface/SimpleTransmission</type>
  	<joint name="joint_5">
  		<hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
  	</joint>
  	<actuator name="link_5_motor">
  		<hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
  		<mechanicalReduction>1</mechanicalReduction>
  	</actuator>
  </transmission>
  
  <transmission name="ee_thumb_prox_trans">
  	<type>transmission_interface/SimpleTransmission</type>
  	<joint name="ee_thumb_prox_joint">
  		<hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
  	</joint>
  	<actuator name="ee_thumb_prox_joint_motor">
  		<hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
  		<mechanicalReduction>1</mechanicalReduction>
  	</actuator>
  </transmission>
  
  <transmission name="ee_thumb_dist_trans">
  	<type>transmission_interface/SimpleTransmission</type>
  	<joint name="ee_thumb_dist_joint">
  		<hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
  	</joint>
  	<actuator name="ee_thumb_dist_joint_motor">
  		<hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
  		<mechanicalReduction>1</mechanicalReduction>
  	</actuator>
  </transmission>
  
  <transmission name="ee_finger1_roll_trans">
  	<type>transmission_interface/SimpleTransmission</type>
  	<joint name="ee_finger1_roll_joint">
  		<hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
  	</joint>
  	<actuator name="ee_finger1_roll_joint_motor">
  		<hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
  		<mechanicalReduction>1</mechanicalReduction>
  	</actuator>
  </transmission>
  
  <transmission name="ee_finger1_prox_trans">
  	<type>transmission_interface/SimpleTransmission</type>
  	<joint name="ee_finger1_prox_joint">
  		<hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
  	</joint>
  	<actuator name="ee_finger1_prox_joint_motor">
  		<hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
  		<mechanicalReduction>1</mechanicalReduction>
  	</actuator>
  </transmission>
  
  <transmission name="ee_finger1_dist_trans">
  	<type>transmission_interface/SimpleTransmission</type>
  	<joint name="ee_finger1_dist_joint">
  		<hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
  	</joint>
  	<actuator name="ee_finger1_dist_joint_motor">
  		<hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
  		<mechanicalReduction>1</mechanicalReduction>
  	</actuator>
  </transmission>
  
  <transmission name="ee_finger2_roll_trans">
  	<type>transmission_interface/SimpleTransmission</type>
  	<joint name="ee_finger2_roll_joint">
  		<hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
  	</joint>
  	<actuator name="ee_finger2_roll_joint_motor">
  		<hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
  		<mechanicalReduction>1</mechanicalReduction>
  	</actuator>
  </transmission>
  
  <transmission name="ee_finger2_prox_trans">
  	<type>transmission_interface/SimpleTransmission</type>
  	<joint name="ee_finger2_prox_joint">
  		<hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
  	</joint>
  	<actuator name="ee_finger2_prox_joint_motor">
  		<hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
  		<mechanicalReduction>1</mechanicalReduction>
  	</actuator>
  </transmission>
  
  <transmission name="ee_finger2_dist_trans">
  	<type>transmission_interface/SimpleTransmission</type>
  	<joint name="ee_finger2_dist_joint">
  		<hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
  	</joint>
  	<actuator name="ee_finger2_dist_joint_motor">
  		<hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
  		<mechanicalReduction>1</mechanicalReduction>
  	</actuator>
  </transmission>
  
  <gazebo>
  	<plugin name="control" filename="libgazebo_ros_control.so">
  		<robotNamespace>/</robotNamespace>
  	</plugin>
  </gazebo>
  
  <gazebo reference="link_1">
  	<selfCollide>true</selfCollide>
  </gazebo>
  
  <gazebo reference="link_2">
  	<selfCollide>true</selfCollide>
  </gazebo>
  
  <gazebo reference="link_3">
  	<selfCollide>true</selfCollide>
  </gazebo>
  
  <gazebo reference="link_4">
  	<selfCollide>true</selfCollide>
  </gazebo>
  
  <gazebo reference="link_5">
  	<selfCollide>true</selfCollide>
  </gazebo>
  
  <gazebo reference="ee_thumb_prox">
  	<selfCollide>true</selfCollide>
  </gazebo>
  
  <gazebo reference="ee_thumb_dist">
  	<selfCollide>true</selfCollide>
  </gazebo>
  
  <gazebo reference="ee_finger1_roll">
  	<selfCollide>true</selfCollide>
  </gazebo>
  
  <gazebo reference="ee_finger1_prox">
  	<selfCollide>true</selfCollide>
  </gazebo>
  
  <gazebo reference="ee_finger1_dist">
  	<selfCollide>true</selfCollide>
  </gazebo>
  
  <gazebo reference="ee_finger2_roll">
  	<selfCollide>true</selfCollide>
  </gazebo>
  
  <gazebo reference="ee_finger2_prox">
  	<selfCollide>true</selfCollide>
  </gazebo>
  
  <gazebo reference="ee_finger2_dist">
  	<selfCollide>true</selfCollide>
  </gazebo>

</robot>