<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="full_assembly2_urdf">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.000666971271272493 -7.2955508087523E-05 0.113905308565321"
        rpy="0 0 0" />
      <mass
        value="1.2708035851133" />
      <inertia
        ixx="0.00258373325569534"
        ixy="-1.24891825111482E-07"
        ixz="-3.29247641974665E-07"
        iyy="0.00258737827661269"
        iyz="-4.10689595731847E-08"
        izz="0.00432432859906659" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://full_assembly2_urdf/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://full_assembly2_urdf/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="link_1">
    <inertial>
      <origin
        xyz="0.034888834415896 0.00457926103273412 0.0467069176822638"
        rpy="0 0 0" />
      <mass
        value="0.641883793391617" />
      <inertia
        ixx="0.0004655414421358"
        ixy="-2.03341730697784E-05"
        ixz="2.92581409367882E-05"
        iyy="0.000626367305091345"
        iyz="3.98087884992213E-06"
        izz="0.000617296717752839" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://full_assembly2_urdf/meshes/link_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://full_assembly2_urdf/meshes/link_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_1"
    type="revolute">
    <origin
      xyz="0 0 0.15678"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="link_1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.142"
      upper="3.142"
      effort="28.35"
      velocity="5.24" />
  </joint>
  <link
    name="link_2">
    <inertial>
      <origin
        xyz="0.00118095219354461 0.00619627354362344 0.173905309750878"
        rpy="0 0 0" />
      <mass
        value="0.394669414155339" />
      <inertia
        ixx="0.00201544139316108"
        ixy="5.89754990715485E-06"
        ixz="-4.81654944922341E-07"
        iyy="0.00197252279377023"
        iyz="-1.04891927473111E-07"
        izz="0.000146840453333142" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://full_assembly2_urdf/meshes/link_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://full_assembly2_urdf/meshes/link_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_2"
    type="revolute">
    <origin
      xyz="0.000103583713295205 1.30918409286529E-05 0.0737000000000103"
      rpy="0 0 0" />
    <parent
      link="link_1" />
    <child
      link="link_2" />
    <axis
      xyz="-0.125391445630158 0.992107345685324 0" />
    <limit
      lower="-1.57"
      upper="1.57"
      effort="28.35"
      velocity="5.24" />
  </joint>
  <link
    name="link_3">
    <inertial>
      <origin
        xyz="-0.114597786368413 -0.0106809982255397 -0.000135698983013133"
        rpy="0 0 0" />
      <mass
        value="0.259256414102" />
      <inertia
        ixx="8.82055216027771E-05"
        ixy="-0.000147246406086501"
        ixz="1.9128799495539E-08"
        iyy="0.001234836324825"
        iyz="-5.7328438056428E-08"
        izz="0.00124877401988058" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://full_assembly2_urdf/meshes/link_3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://full_assembly2_urdf/meshes/link_3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_3"
    type="revolute">
    <origin
      xyz="0 0 0.406399999999993"
      rpy="0 0 0" />
    <parent
      link="link_2" />
    <child
      link="link_3" />
    <axis
      xyz="0.125391445630158 -0.992107345685324 0" />
    <limit
      lower="-1"
      upper="3.14"
      effort="7.85"
      velocity="6.54" />
  </joint>
  <link
    name="link_4">
    <inertial>
      <origin
        xyz="0.000691147483266541 -0.00337681280202291 0.0288646245756418"
        rpy="0 0 0" />
      <mass
        value="0.187315441798361" />
      <inertia
        ixx="0.000131172951960669"
        ixy="3.82564482216406E-06"
        ixz="4.79993052351422E-09"
        iyy="0.000105908438924271"
        iyz="-1.72598376293874E-08"
        izz="0.000133438325685805" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://full_assembly2_urdf/meshes/link_4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://full_assembly2_urdf/meshes/link_4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_4"
    type="revolute">
    <origin
      xyz="-0.348413326699186 -0.0397177166403455 0"
      rpy="0 0 0" />
    <parent
      link="link_3" />
    <child
      link="link_4" />
    <axis
      xyz="-0.125391445630158 0.992107345685324 0" />
    <limit
      lower="-3.14"
      upper="0"
      effort="2.45"
      velocity="8.08" />
  </joint>
  <link
    name="link_5">
    <inertial>
      <origin
        xyz="0.000874359843792083 0.00141941965863368 0.0362558121484203"
        rpy="0 0 0" />
      <mass
        value="0.183111513613456" />
      <inertia
        ixx="7.20335904875415E-05"
        ixy="-2.39227064025502E-06"
        ixz="-2.70667515266449E-07"
        iyy="9.2638054510423E-05"
        iyz="-3.10111909846066E-08"
        izz="0.000144655222094407" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://full_assembly2_urdf/meshes/link_5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://full_assembly2_urdf/meshes/link_5.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_5"
    type="revolute">
    <origin
      xyz="0 0 0.0771975122568782"
      rpy="0 0 0" />
    <parent
      link="link_4" />
    <child
      link="link_5" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="2.45"
      velocity="8.08" />
  </joint>
  <link
    name="ee_thumb_prox">
    <inertial>
      <origin
        xyz="-0.000363742372263918 -0.0136623441316669 0.012478635060682"
        rpy="0 0 0" />
      <mass
        value="0.0140616051661292" />
      <inertia
        ixx="2.66037470712265E-06"
        ixy="-4.61561205563586E-08"
        ixz="3.91772433458902E-08"
        iyy="1.37750923910108E-06"
        iyz="8.22644622578878E-07"
        izz="1.61529675721767E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://full_assembly2_urdf/meshes/ee_thumb_prox.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://full_assembly2_urdf/meshes/ee_thumb_prox.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="ee_thumb_prox_joint"
    type="revolute">
    <origin
      xyz="0.0445832051781762 0.00629188493532656 0.0804249999999981"
      rpy="0 0 1.67767623706565" />
    <parent
      link="link_5" />
    <child
      link="ee_thumb_prox" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="1.57"
      effort="2.45"
      velocity="8.08" />
  </joint>
  <link
    name="ee_thumb_dist">
    <inertial>
      <origin
        xyz="0.000134086297196547 -0.0140583627087864 0.0129641598374541"
        rpy="0 0 0" />
      <mass
        value="0.0116864486254284" />
      <inertia
        ixx="1.11556815353773E-06"
        ixy="5.03779605662188E-09"
        ixz="-2.74459580085022E-09"
        iyy="8.01046236275627E-07"
        iyz="8.74699174215593E-08"
        izz="8.0470227822987E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://full_assembly2_urdf/meshes/ee_thumb_dist.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.298039215686275 0.298039215686275 0.298039215686275 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://full_assembly2_urdf/meshes/ee_thumb_dist.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="ee_thumb_dist_joint"
    type="revolute">
    <origin
      xyz="0 -0.035355339059327 0.0353553390593278"
      rpy="0 0 0" />
    <parent
      link="ee_thumb_prox" />
    <child
      link="ee_thumb_dist" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="1.57"
      effort="2.45"
      velocity="8.08" />
  </joint>
  <link
    name="ee_finger1_roll">
    <inertial>
      <origin
        xyz="-0.00293929564565008 0.00119368792948021 0.0272243186672857"
        rpy="0 0 0" />
      <mass
        value="0.0130633836142709" />
      <inertia
        ixx="1.31828181335824E-06"
        ixy="2.4019349157918E-07"
        ixz="2.0393991243487E-07"
        iyy="1.66384018577043E-06"
        iyz="-8.1177974456026E-08"
        izz="1.88852300273138E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://full_assembly2_urdf/meshes/ee_finger1_roll.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://full_assembly2_urdf/meshes/ee_finger1_roll.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="ee_finger1_roll_joint"
    type="revolute">
    <origin
      xyz="-0.0220304161455278 -0.0290156985863783 0.039424999999998"
      rpy="0 0 1.67767623706565" />
    <parent
      link="link_5" />
    <child
      link="ee_finger1_roll" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="2.45"
      velocity="8.08" />
  </joint>
  <link
    name="ee_finger1_prox">
    <inertial>
      <origin
        xyz="-0.0102315797866676 0.0100635175442056 0.0127330248670721"
        rpy="0 0 0" />
      <mass
        value="0.0145193149160156" />
      <inertia
        ixx="2.04972506692644E-06"
        ixy="6.35126748062643E-07"
        ixz="5.67345621198387E-07"
        iyy="2.00432470838948E-06"
        iyz="-5.98929957280732E-07"
        izz="1.62898222358511E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://full_assembly2_urdf/meshes/ee_finger1_prox.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://full_assembly2_urdf/meshes/ee_finger1_prox.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="ee_finger1_prox_joint"
    type="revolute">
    <origin
      xyz="0 0 0.0430000000000001"
      rpy="0 0 0" />
    <parent
      link="ee_finger1_roll" />
    <child
      link="ee_finger1_prox" />
    <axis
      xyz="-0.693726536855436 -0.720238496654104 0" />
    <limit
      lower="0"
      upper="1.57"
      effort="2.45"
      velocity="8.08" />
  </joint>
  <link
    name="ee_finger1_dist">
    <inertial>
      <origin
        xyz="-0.00999228321684213 0.00919208168543145 0.0118741444533208"
        rpy="0 0 0" />
      <mass
        value="0.0134397344943946" />
      <inertia
        ixx="9.80681041033121E-07"
        ixy="1.32109248616902E-07"
        ixz="6.46167716370451E-08"
        iyy="1.00071725690034E-06"
        iyz="-5.82286420362826E-08"
        izz="8.59942162701177E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://full_assembly2_urdf/meshes/ee_finger1_dist.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://full_assembly2_urdf/meshes/ee_finger1_dist.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="ee_finger1_dist_joint"
    type="revolute">
    <origin
      xyz="-0.0254754976779759 0.0245377452898056 0.0353397520386329"
      rpy="0 0 0" />
    <parent
      link="ee_finger1_prox" />
    <child
      link="ee_finger1_dist" />
    <axis
      xyz="-0.693726536855436 -0.720238496654104 0" />
    <limit
      lower="0"
      upper="1.57"
      effort="2.45"
      velocity="8.08" />
  </joint>
  <link
    name="ee_finger2_roll">
    <inertial>
      <origin
        xyz="0.00292762286856931 0.00122188350719937 0.02722431487717"
        rpy="0 0 0" />
      <mass
        value="0.0130633776120231" />
      <inertia
        ixx="1.32293231624601E-06"
        ixy="-2.43479410051369E-07"
        ixz="-2.0314527001449E-07"
        iyy="1.65919292374792E-06"
        iyz="-8.31309451140246E-08"
        izz="1.88852919686052E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://full_assembly2_urdf/meshes/ee_finger2_roll.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://full_assembly2_urdf/meshes/ee_finger2_roll.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="ee_finger2_roll_joint"
    type="revolute">
    <origin
      xyz="-0.0280043023470612 0.0266647529531982 0.0394249999999982"
      rpy="0 0 1.67767623706565" />
    <parent
      link="link_5" />
    <child
      link="ee_finger2_roll" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="2.45"
      velocity="8.08" />
  </joint>
  <link
    name="ee_finger2_prox">
    <inertial>
      <origin
        xyz="0.0100368832974512 0.0100659773185173 0.0128854247188837"
        rpy="0 0 0" />
      <mass
        value="0.014519343110467" />
      <inertia
        ixx="2.07049411289826E-06"
        ixy="-6.25766007247275E-07"
        ixz="-5.62879437380842E-07"
        iyy="2.00112982945989E-06"
        iyz="-6.06361403679365E-07"
        izz="1.61138625748389E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://full_assembly2_urdf/meshes/ee_finger2_prox.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://full_assembly2_urdf/meshes/ee_finger2_prox.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="ee_finger2_prox_joint"
    type="revolute">
    <origin
      xyz="-4.86118565775811E-05 4.95067392380366E-05 0.0429999999999999"
      rpy="0 0 0" />
    <parent
      link="ee_finger2_roll" />
    <child
      link="ee_finger2_prox" />
    <axis
      xyz="0.700628532140014 -0.713526215321714 0" />
    <limit
      lower="0"
      upper="1.57"
      effort="2.45"
      velocity="8.08" />
  </joint>
  <link
    name="ee_finger2_dist">
    <inertial>
      <origin
        xyz="0.00975175888202664 0.0091390481308663 0.0121124532918457"
        rpy="0 0 0" />
      <mass
        value="0.01344001329834" />
      <inertia
        ixx="9.84852894018348E-07"
        ixy="-1.30734532159436E-07"
        ixz="-6.40996048220727E-08"
        iyy="9.99637917362816E-07"
        iyz="-5.87691443876127E-08"
        izz="8.56867388470161E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://full_assembly2_urdf/meshes/ee_finger2_dist.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://full_assembly2_urdf/meshes/ee_finger2_dist.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="ee_finger2_dist_joint"
    type="revolute">
    <origin
      xyz="0.0249677805106804 0.0245164634940634 0.0357148842097346"
      rpy="0 0 0" />
    <parent
      link="ee_finger2_prox" />
    <child
      link="ee_finger2_dist" />
    <axis
      xyz="0.700628532140015 -0.713526215321714 0" />
    <limit
      lower="0"
      upper="1.57"
      effort="2.45"
      velocity="8.08" />
  </joint>
</robot>